//Contact Start
.contact-area {
    & .contacts {
        &__social {
            position: relative;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px dashed $grey;
            padding-left: 80px;

            & i {
                background-color: $theme-color;
                width: 60px;
                height: 60px;
                color: $white;
                text-align: center;
                line-height: 60px;
                font-size: 26px;
                position: absolute;
                left: 0;
                top: 0;
            }

            & h4 {
                text-transform: capitalize;
                font-weight: 600;

                & span {
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    font-style: italic;
                    margin-top: 5px;
                }
            }

            &:last-child {
                border: none;
            }
        }

        &__form {
            & input {
                width: 100%;
                border: 1px solid $grey;
                padding: 5px 10px;
                border-radius: 7px;
                margin-bottom: 10px;
            }

            & input[type="submit"] {
                background: $theme-color;
                border: 0;
                color: $white;
                font-size: 20px;
                font-weight: 600;
                padding: 10px;
            }

            & textarea {
                width: 100%;
                border: 1px solid $grey;
                padding: 5px 10px;
                border-radius: 7px;
                margin-bottom: 10px;
            }
        }

    }
}