//Features Start
.features-area {
    background-color: $grey;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.feature-1,
.feature-2 {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background: url(../img/feature-1.jpg);
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
    }

    &::before {
        position: absolute;
        content: '';
        background: $body-text-color;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 2;
        opacity: .8;
    }
}

.feature-2 {
    &::after {
        background: url(../img/feature-2.jpg);
        background-size: cover;
        background-position: center;
        left: 0;
    }

    &::before {
        left: 0;
    }
}

.single-feature {
    & i {
        font-size: 25px;
        margin-bottom: 20px;
    }

    & h3 {
        font-size: 22px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
}