//Prices Start
.prices-area {
    & .prices {
        &__item {
            text-align: center;
            padding: 40px 30px;
            box-shadow: 0 15px 40px $grey;

            &.featured {
                & h3 {
                    background: $theme-color;
                    color: $white;
                }
            }

            & span {
                font-size: 22px;
                text-transform: uppercase;
                font-weight: 600;
            }

            & h3 {
                font-size: 40px;
                background: $hr-border-color;
                padding: 10px;
                margin: 20px 0;

                & span {
                    font-size: 16px;
                    font-style: italic;
                    font-weight: 500;
                    text-transform: lowercase;
                }
            }

            & ul {
                & li {
                    line-height: 50px;
                }
            }

            &-btn {
                margin-top: 25px;

                & a {
                    text-transform: capitalize;
                }
            }
        }
    }
}