.slider-area{
    // owl-carousel for slider
    & .owl-dots{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        & button{
            background: $theme-color !important;
            width: 20px;
            height: 20px;
            display: block;
            margin: 10px 0;
            border-radius: 50%;
        }
    }
}
.single-slide{
    min-height: 1000px;
    background-size: cover;
    background-position: center;
    &:before{
        content: '';
        position: absolute;
        background: #333;
        height: 1000px;
        width: 100%;
        opacity: .8;
    }
}

.hslide{
    &__text{
        & span{
            font-size: 20px;
            display: block;
            font-weight: 600;
            color: $white;
            margin-bottom: 20px;
        }
        & h2{
            font-size: 50px;
            text-transform: uppercase;
            color: $white;
            margin: 20px 0;
            line-height: 1.3;
        }
        & p{
            color: #ffffff;
            margin-bottom: 40px;
            font-size: 17px;
        }
    }
}




