//Team Start
.teamMembers {
    &__item {
        position: relative;
        overflow: hidden;

        &:hover {
            cursor: pointer;

            & .teamMembers__item-overlay {
                bottom: 0;
            }
        }

        & img {
            width: 100%;
        }

        &-overlay {
            position: absolute;
            content: "";
            background: $body-text-color;
            width: 100%;
            left: 0;
            bottom: -120px;
            transition: .3s;

            & h3 {
                color: $white;
                text-align: center;
                text-transform: capitalize;
                padding: 25px;

                & span {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 10px;
                }
            }
        }
    }
}